#map {
    border-style: solid;
    border-width: 10px;
    border-color: #888;
}

#login-panel {
    border-top: solid;
    border-color: #56A4E3;
    border-width: 8px;
}

.no-padding {
    margin: 0 !important;
    padding: 0 !important;
}

.map-stuff-title {
    background-color: #56A4E3;
    padding: 6px 6px 6px 10px;
    color: white;
    font-weight: bold;
}

.map-stuff-first {
    border-top: none !important;
}

.chats-title {
    background-color: #a673bf;
    padding: 6px 6px 6px 10px;
    color: white;
    font-weight: bold;
}

.oauth-logo {
    margin-bottom: 15px;
    margin-top: 15px;
}

textarea.status-input {
    border-style: none !important;
    color: #56A4E3 !important;
    text-align: center;
}